.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 50px;
  flex-direction: column;
  padding: 1rem;

  @media screen and (min-width: 700px) {
    justify-content: center;
    flex-direction: row;
  }
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;

  .inputGroup {
    width: 80%;
  }

  .textarea {
    resize: vertical;
    max-height: 100px;
    width: 100%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  width: 100%;
  margin-bottom: 0.3rem;
}

.goBack {
  position: absolute;
  top: 30px;
  left: 30px;
}
