.card {
  --font-size: clamp(0.8rem, 3vw, 1.5rem);
  --line-height: clamp(1rem, 3vw, 2rem);
  cursor: pointer;
  width: 200px;
  height: 250px;
  transition: 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  &.isSelected {
    transform: translateY(-10px);

    .cardBack {
      border-color: var(--chakra-colors-green-500);
    }
  }

  &Front {
    p {
      font-size: var(--font-size);
      text-align: left;
    }
  }

  &Back {
    font-size: var(--font-size);
    padding: 0.4rem;

    @media (min-width: 450px) {
      padding: 0.8rem;
    }
  }

  &Text {
    line-height: var(--line-height);
  }
}
