.card {
  &.isBlack {
    --color: #ffffff;
    --background: #000000;
  }

  --color: #191919;
  --background: #ffffff;
  background-color: transparent;
  perspective: 1000px;
  width: 280px;
  height: 350px;
  border-radius: 10px;
  border: none;

  &Inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 10px;
  }

  &AnimationOff {
    transform: rotateY(180deg);
  }

  &AnimationRevert {
    transform: rotateY(0);
  }

  &:hover {
    .cardAnimationHover {
      transform: rotateY(180deg);
    }
  }

  &AnimationAuto {
    animation: flip 1s;
    animation-fill-mode: forwards;

    @keyframes flip {
      from {
        transform: rotateY(0deg);
      }
      to {
        transform: rotateY(180deg);
      }
    }
  }

  &AnimationRotating {
    animation: rotating 4s infinite linear;

    @keyframes rotating {
      0% {
        transform: rotateY(0deg) rotateX(10deg);
      }
      30% {
        transform: rotateY(90deg) rotateX(0deg);
      }
      50% {
        transform: rotateY(180deg) rotateX(-10deg);
      }
      70% {
        transform: rotateY(270deg) rotateX(-30deg);
      }
      90% {
        transform: rotateY(340deg) rotateX(0deg);
      }
      100% {
        transform: rotateY(360deg) rotateX(10deg);
      }
    }
  }

  &AnimationClick {
    transform: rotateY(180deg);
  }

  &Back,
  &Front {
    color: var(--color);
    background-color: var(--background);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-break: break-word;
    border-radius: 10px;
    border: 2px solid var(--color);

    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  &Back {
    transform: rotateY(180deg);
    font-size: 1.6rem;
    text-align: left;
  }

  svg {
    width: 60%;
  }
}

.message {
  line-height: 2.5rem;
}

.question {
  display: inline-block;
  width: 90%;
  height: 2px;
  background-color: var(--color);
}

.gameNameText {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
}
