.cards {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;

  &.whites {
    background-color: #ffffff;
  }

  &.blacks {
    background-color: #000000;
  }
}
