.goBack {
  position: absolute;
  top: 30px;
  left: 30px;
}

.cards {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  flex: 1;

  &Container {
    display: flex;
    flex-direction: column;
  }

  &.whites {
    background-color: #ffffff;
  }

  &.blacks {
    background-color: #000000;
  }
}

.totalOfCards.totalOfCards {
  width: 100%;
  text-align: center;
  margin-top: 5rem;

  &.whites {
    color: #000000;
  }

  &.blacks {
    color: #ffffff;
  }
}

.selectCards.selectCards {
  position: absolute;
  top: 35px;
  right: 100px;
  width: 100px;

  @media (max-width: 700px) {
    right: 50%;
    transform: translateX(50%);
  }
}

.placeholderHeader {
  height: 100px;
  background-color: white;
  width: 100%;
}
